<div class="position-relative">
  <div class="position-absolute top-0 end-0">
    <div *ngIf="auth.currentUser.username && !auth.loggingIn">
      <span>logged in as {{ auth.currentUser.username }}</span>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!auth.currentUser.username && !auth.loggingIn">
      <a class="btn btn-primary" routerLink="/login" routerLinkActive="active" >Login</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
