<ngx-charts-pie-chart *ngIf="displayChart"
  [results]="chart"
  [view]="view"
  [scheme]="colorScheme"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  >
</ngx-charts-pie-chart>

<button class="btn btn-primary" (click)="reset()">Reset Search</button>

<div *ngFor="let passenger of passengers" class="row">
  <div class="col">
    <span>{{ passenger.PassengerId }}</span>
  </div>
  <div class="col">
    <span>{{ passenger.Name }}</span>
  </div>
  <div class="col">
    <span>{{ passenger.Sex }}</span>
  </div>
  <div class="col">
    <span>{{ passenger.Age }}</span>
  </div>
  <div class="col">
    <span>{{ passenger.Survived }}</span>
  </div>
</div>